---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1&currency=usd&source=tok_visa&description=Charge+created+with+StripeService
    headers:
      Authorization:
      - Bearer sk_test_51OM7uULyNOJh737AHUU8W5KShUyBuDSqSxEKabjyw31TVmwg5cfauQdPEZWMmZ4mmOq9fYBkDdDCj7x68o7N9Tir00K0acAvnM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2417df0e-a2ca-4e6b-87a3-4d1a7ad91a26
      Original-Request:
      - req_oPKaKRBTm8ZXUK
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "amount_too_small",
            "doc_url": "https://stripe.com/docs/error-codes/amount-too-small",
            "message": "Amount must be at least $0.50 usd",
            "param": "amount",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_oPKaKRBTm8ZXUK?t=1702308648",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 11 Dec 2023 15:30:48 GMT
recorded_with: VCR 6.2.0
