---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_3OMBOlLyNOJh737A0XYZSXuj
    headers:
      Authorization:
      - Bearer sk_test_51OM7uULyNOJh737AHUU8W5KShUyBuDSqSxEKabjyw31TVmwg5cfauQdPEZWMmZ4mmOq9fYBkDdDCj7x68o7N9Tir00K0acAvnM
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d2565d85-a487-45d7-a734-44ef2d3f5dd9
      Original-Request:
      - req_WOuD3muAfwfhyE
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "re_3OMBOlLyNOJh737A0nQQ4P4E",
          "object": "refund",
          "amount": 1000,
          "balance_transaction": "txn_3OMBOlLyNOJh737A0XofdYCO",
          "charge": "ch_3OMBOlLyNOJh737A0XYZSXuj",
          "created": 1702308963,
          "currency": "usd",
          "destination_details": {
            "card": {
              "reference_status": "pending",
              "reference_type": "acquirer_reference_number",
              "type": "refund"
            },
            "type": "card"
          },
          "metadata": {},
          "payment_intent": null,
          "reason": null,
          "receipt_number": null,
          "source_transfer_reversal": null,
          "status": "succeeded",
          "transfer_reversal": null
        }
  recorded_at: Mon, 11 Dec 2023 15:36:03 GMT
recorded_with: VCR 6.2.0
